.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background-color3);
    background-size: 70px, 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }

  &.attention::before {
    background-image: url(../images/antenna-icon.svg);
  }

  &.punctuality::before {
    background-image: url(../images/clock-icon.svg);
  }

  &.plan::before {
    background-image: url(../images/diagram-icon.svg);
  }

  &.modern::before {
    background-image: url(../images/astronaut-icon.svg);
  }
}

.features__title {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--font-color3);
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-color1);
}
