body {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color3);
  background-color: var(--background-color1);
  /* margin: 0; */
}
button {
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
