:root {
  --background-color1: #ffffff;
  --background-color2: #e5e5e5;
  --background-color3: #f5f4fa;
  --background-color4: #2f303a;
  --accent-color: #2196f3;
  --font-color1: #757575;
  --font-color2: #000000;
  --font-color3: #212121;
  --font-color4: rgba(255, 255, 255, 0.6);
  --logo-color: #afb1b8;
  --btn-active-color: #188ce8;
  --card-item-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --timing-function1: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
